.Sideber
  .Sideber__header
    .Sideber__header__user
      .Sideber__header__user--name
        = current_user.name
      .Sideber__header__user--menu
      = link_to new_group_path, class: "new-group" do
        = icon('far', 'edit',class: "Sideber__header__user--menu--icon1")
        %spam<>
      = link_to edit_user_path(current_user), class: "group" do
        = icon('fas', 'cog',class: "Sideber__header__user--menu--icon2")
        %spam<>
  .Sideber__main
    .Sideber__main__group
      .Sideber__main__group__box
        - current_user.groups.each do |group|
          .Sideber__main__group__box--contents
            = link_to group_messages_path(group) do
              .name
                = group.name
              .message
                = group.show_last_message